.home-product {
    margin-bottom: 100px;
}

.home-product__heading {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 78px;
    position: relative;
}

.home-product__heading::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    border: 1px solid #ffce73;
}

.home-product-select-game__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-top: 40px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #1c093c;
}

.home-product-select-game__img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50px;
}

.home-product-select-game__title {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
    white-space: nowrap;
}

.home-product__item {
    margin: 25px 0;
}

.home-product__item-img-link {
    position: relative;
    display: block;
    width: 100%;
    height: 280px;
}

.home-product__item-heart {
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-product__item-heart-icon {
    font-size: 1.6rem;
}

.home-product__item-detail {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.5);
}
.home-product__item-detail-icon,
.home-product__item-detail-title {
    font-size: 1.4rem;
    font-weight: 500;
}

.home-product__item-detail-title {
    margin-left: 10px;
}

.home-product__img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.home-product__info {
    padding-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-product__info-name {
    width: max-content;
    font-size: 1.4rem;
    color: #6871b4;
    text-decoration: none;
}

.home-product__info-title {
    margin: 8px 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--white-color);
    text-decoration: none;
}

.home-product__info-name:hover,
.home-product__info-title:hover {
    text-decoration: underline;
}

.home-product__info-price {
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffce73;
}

.home-product__seller {
    position: relative;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.home-product__seller-link-img {
    height: 25px;
}

.home-product__seller::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #2b114a;
}

.home-product__seller-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.home-product__seller-name {
    text-decoration: none;
    margin: 0 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #e1dff4;
}

.home-product__seller-name:hover {
    text-decoration: underline;
}

.home-product__seller-star {
    display: flex;
    align-items: center;
}

.home-product__seller-star-label {
    color: #ffb600;
    font-size: 1.4rem;
    font-weight: 600;
    padding-right: 2px;
}

.home-product__seller-star-icon {
    font-size: 1.2rem;
}
